<ion-view view-title="Фильтры">
    <ion-content class="padding">
        <ion-item class="item-toggle">
            Зарубежная песня
            <label class="toggle">
                <input type="checkbox" ng-model="foreignSong" ng-change="filterValueChanged('foreignSong', foreignSong)">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </ion-item>
        <label class="item item-input item-select">
            <div class="input-label">
                Года
            </div>
            <select ng-model="yearsSelected" ng-change="filterValueChanged('yearsSelected', yearsSelected)" ng-options="yearOption for yearOption in yearOptions"></select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Жанр
            </div>
            <select ng-model="genreSelected" ng-change="filterValueChanged('genreSelected', genreSelected)" ng-options="genreOption for genreOption in genreOptions"></select>
        </label>
    </ion-content>
</ion-view>
