<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- All Songs Tab -->
    <ion-tab title="Все песни" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/all-songs">
        <ion-nav-view name="tab-all-songs"></ion-nav-view>
    </ion-tab>

    <!-- Popular Tab -->
    <ion-tab title="Популярные" icon-off="ion-ios7-star-outline" icon-on="ion-ios7-star" href="#/tab/popular">
        <ion-nav-view name="tab-popular"></ion-nav-view>
    </ion-tab>

    <!-- Filters Tab -->
    <ion-tab title="Фильтры" icon-off="ion-ios7-settings" icon-on="ion-ios7-settings-strong" href="#/tab/filters">
        <ion-nav-view name="tab-filters"></ion-nav-view>
    </ion-tab>

    <!-- Favorites Tab -->
    <ion-tab title="Избранные" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <!-- Queue Tab -->
    <ion-tab title="Очередь" icon-off="ion-ios7-paper-outline" icon-on="ion-ios7-paper" href="#/tab/queue">
        <ion-nav-view name="tab-queue"></ion-nav-view>
    </ion-tab>
</ion-tabs>
